@import '~antd/dist/antd.css';
.container {
    margin-top: 50px;
    padding: 0 20%;
}

.insertArea {
    width: 20%;
    margin: 0 20px;
}

.input-container {
    text-align: center;
}

.list-container {
    padding: 0 15%;
    border-top: 1px dotted #eee;
    margin-top: 30px;
}